<p id="notice"><%= notice %></p>

<p>
  <strong>Wistia:</strong>
  <%= @video.wistia %>
</p>

<p>
  <strong>Título:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @video.description %>
</p>

<a href="<%= videos_path %>" class="btn waves-effect waves-light" name="action">Voltar</a>
